body {
  font-family: sans-serif;
  padding: 15px;
}
h1,
h2 {
  text-align: center;
  margin-bottom: 15px;
}

ul,
ol {
  border: 1px solid #eee;
  padding: 15px 15px 15px 40px;
  margin-bottom: 20px;
}

ul.makanan {
  list-style-type: square;
}
ul.minuman {
  list-style-type: circle;
}
ul.no-bullets {
  list-style-type: none;
  padding-left: 20px;
}

ol.alamat {
  list-style-type: upper-alpha;
}
ol.mobil {
  list-style-type: upper-roman;
}
